<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment :: head"></head>

<body>

<nav th:replace="fragment :: nav"></nav>
<div class="container mySpace">
    <div class="jumbotron">
        <h1 class="text text-center">Welcome to the MVC Example Page</h1>

        <p>Leicestershire is a county in the East Midlands of England with an area of 833 square miles (2,160 km2), and
            a population according to the 2011 census of 980,000. In England, Sites of Special Scientific Interest
            (SSSIs) are designated by Natural England, a non-departmental public body which is responsible for
            protecting England's natural environment. Designation as an SSSI gives legal protection to the most
            important wildlife and geological sites. As of January 2018, there are seventy-six SSSIs in the county
            (nominated by Dudley Miles), fifty-seven of which are designated for their biology, twelve for their geology
            and seven for both criteria.</p>
    </div>
</div>
<footer th:replace="fragment :: footer"></footer>
</body>
</html>