<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment :: head"></head>

<body>

<nav th:replace="fragment :: nav"></nav>
<div class="container mySpace">
    <div class="jumbotron">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elit urna, blandit varius vestibulum sit amet,
            faucibus nec tellus. Maecenas a felis imperdiet, posuere quam at, pretium odio. Mauris porta, erat
            condimentum
            mollis volutpat, ex nibh euismod urna, sed interdum tortor lorem vel ligula. Sed luctus ex quis nisi
            molestie
            vehicula. Nunc eget magna lacinia, vulputate turpis porttitor, auctor leo. Maecenas et molestie purus, at
            fermentum libero. Ut in ex in tellus sollicitudin malesuada a quis quam. Class aptent taciti sociosqu ad
            litora
            torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
</div>
<footer th:replace="fragment :: footer"></footer>
</body>
</html>